<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dang ky</title>
</head>

<body>
    <form action="http://localhost:3000/mail" method="post">
        <input type="text" name="ten" id="">
        <input type="text" name="email" id="">
        <input type="text" name="password" id="">
        <input type="submit" value="DANG KY" name="ten" id="">
    </form>
</body>

</html>