<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>Ban da dang ky khoa hoc nodejs tai TTTH Khoa Pham</p>
    <ul>
        <li>{{username}}</li>
        <li>{{email}}</li>
        <li>{{password}}</li>
    </ul>
</body>

</html>